<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="LW8_DataBases.Properties.Settings.Veterinary_ClinicConnectionString"
            connectionString="Data Source=DESKTOP-TDTVJ8G;Initial Catalog=Veterinary_Clinic;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>